
*{
    margin: 0px;
    padding: 0px;
}
*html, body{
    height: 100vh;
    width: 100vw;
    
    
}
header{
    
    width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}
#imagem1{
    width: 50%;
}
#texto1{
    position: absolute;
    left: 40%;
    top: 17%;

}
section{
    
    max-width: 400px;
    text-align: center;
    margin: auto;

    

}